<!DOCTYPE html>
<html>
<partial name="_HeadPartial" />
<body class="main-container">
    <header>
        <partial name="_NavbarMainPartial" />
        <partial name="_NavbarSecondaryIndexPartial" />
    </header>

    <partial name="_DisplayStatusMessages" />
    <partial name="_CookieConsentPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />

    <partial name="_LayoutScriptsPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>