@using Microsoft.AspNetCore.Identity
@using RedditClone.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item">
        <div class="d-none d-md-inline">
            <a href="#" class="nav-link-inactive">
                <i class="fas fa-envelope fa-lg"></i>
                <span class="d-none d-xl-inline">Messages</span>
            </a>
        </div>
    </div>
    <div class="nav-item">
        <div>
            <a id="identity-post" class="nav-link-inactive" asp-area="Identity" asp-controller="Post" asp-action="Create">
                <i class="fas fa-plus-square fa-lg"></i>
                <span class="d-none d-xl-inline">Create Post</span>
            </a>
        </div>
    </div>
}
else
{
    <div class="nav-item d-none d-lg-block">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-blue btn-nav">
            LOG IN
        </a>
    </div>
    <div class="nav-item d-none d-lg-block">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-blue btn-nav">
            SIGN UP
        </a>
    </div>
}
</ul>

<partial name="_LoginPartialAccountDropdown" />