<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fab fa-reddit fa-lg nav-brand-icon"></i>
            RedditClone
        </a>
    </div>
    <div class="nav-item d-none d-sm-inline">
        <div>
            <a class="nav-link-inactive" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-igloo fa-lg"></i>
                <span class="d-none d-lg-inline">Home</span>
            </a>
        </div>
    </div>
    <div class="nav-item">
        <div>
            <a class="nav-link-inactive" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-fire fa-lg"></i>
                <span class="d-none d-md-inline">Popular</span>
            </a>
        </div>
    </div>
    <div class="nav-item mx-auto">
        <form class="form-inline">
            <div class="searchbar-container form-control" tabindex="-1">
                <i class="fas fa-search searchbar-element"></i>
                <input class="searchbar-element" placeholder="Search..." />
            </div>
        </form>
    </div>
    <partial name="_LoginPartial" />
</nav>