.main-container {
    background-color: #DAE0E6;
}

.searchbar-container {
    box-shadow: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.searchbar-container .form-control {
    border: none !important;
}
.searchbar-container:hover {
    box-shadow: 0 0 3px 2px #007bff !important;
    box-shadow: none;
}
.searchbar-container .form-control:focus {
    box-shadow: none;
}
.searchbar-container:focus {
    box-shadow: none;
}

.reply-container {
    margin-left: 30px;
}

.votes-container {
    margin-right: 25px;
}

.searchbar-element {
    border: none;
}
.searchbar-element:focus {
    outline: none;
}

.grey-outline-container {
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
}

.no-margins {
    margin: 0px;
}

.blue-outline-onhover-container:hover {
    box-shadow: 0 0 5px 2px #007bff;
}

.form-outline-green {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
}
.form-outline-green:hover, .form-outline-green:focus {
    box-shadow: 0 0 5px 2px #B4CC14;
    border-color: #B4CC14;
}

.blue-outline {
    box-shadow: 0 0 3px 2px #007bff !important;
}

.nav-item {
    margin-left: 8px;
    margin-right: 8px;
}
.nav-item a {
    text-decoration: none;
}

.nav-link-inactive {
    color: gray;
}

.nav-link-active {
    color: #007bff;
}

.nav-brand-icon {
    color: #ff4500;
}

.navbar-secondary {
    padding: 0px;
    border: 1px solid #ced4da;
    padding-bottom: 5px;
    padding-top: 5px;
}

.link-green-hover {
    font-weight: 500;
}
.link-green-hover:hover {
    color: #B4CC14 !important;
}

.link-red-hover {
    font-weight: 500;
}
.link-red-hover:hover {
    color: #FF0000 !important;
}

.link-grey {
    color: grey;
}
.link-grey:hover {
    color: grey;
}

.link-black {
    font-weight: 700;
    color: black;
}
.link-black:hover {
    color: black;
}

.link-blue {
    color: #007bff;
}
.link-blue:hover {
    color: #007bff;
}

.dropdown-menu-small {
    min-width: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-dropdown-item {
    padding: 0px;
}

.btn-secondary-nav {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-nav {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.btn-menu {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-white {
    box-shadow: none !important;
    color: #007bff;
    font-weight: 600;
}
.btn-white:hover, .btn-white:focus {
    box-shadow: 0 0 3px 2px #007bff !important;
    background-color: white;
    color: #007bff;
}

.btn-white-no-outline {
    box-shadow: none !important;
    color: #007bff;
    font-weight: 600;
}
.btn-white-no-outline:hover, .btn-white-no-outline:focus {
    box-shadow: none !important;
    background-color: white;
}

.btn-grey {
    box-shadow: none !important;
    color: gray;
    font-weight: 600;
}

.btn-outline-blue {
    box-shadow: 0 0 3px 2px #007bff !important;
    color: #007bff;
    font-weight: 600;
}
.btn-outline-blue:hover, .btn-outline-blue:focus {
    background-color: #007bff;
    color: white;
}

.btn-blue {
    box-shadow: 0 0 3px 2px #007bff !important;
    background-color: #007bff;
    color: white;
    font-weight: 600;
}
.btn-blue:hover, .btn-blue:focus {
    box-shadow: 0 0 3px 2px #007bff !important;
    background-color: white;
    color: #007bff;
}

.btn-outline-green {
    box-shadow: 0 0 3px 2px #B4CC14 !important;
    color: #B4CC14;
    font-weight: 600;
}
.btn-outline-green:hover, .btn-outline-green:focus {
    background-color: #B4CC14;
    color: white;
}

.btn-green {
    box-shadow: 0 0 3px 2px #B4CC14 !important;
    background-color: #B4CC14;
    color: white;
    font-weight: 600;
}
.btn-green:hover, .btn-green:focus {
    box-shadow: 0 0 3px 2px #B4CC14 !important;
    background-color: white;
    color: #007bff;
}

.btn-red {
    box-shadow: 0 0 3px 2px #FF0000 !important;
    background-color: #FF0000;
    color: white;
    font-weight: 600;
}
.btn-red:hover, .btn-red:focus {
    box-shadow: 0 0 3px 2px #FF0000 !important;
    background-color: white;
    color: #007bff;
}

.btn-outline-red {
    box-shadow: 0 0 3px 2px #FF0000 !important;
    color: #FF0000;
    font-weight: 600;
}
.btn-outline-red:hover, .btn-outline-red:focus {
    background-color: #FF0000;
    color: white;
}

.hr-no-bottom-margin {
    margin-bottom: 0;
}

.hr-no-top-margin {
    margin-top: 0;
}